body {
  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,sans-serif;
  color: #444;
}

.is-large {
  font-size: 1.8em;
}

.line-input {
  background-color: transparent;
  padding: 0 0 0.2em 0;
  border: none;
  border-radius: 0;
  border-bottom: 2px solid rgba(0,0,0,0.2);
}

.line-input:invalid {
  box-shadow: none;
}

.line-input:focus {
  outline: none;
  border-color: inherit;
  -webkit-box-shadow: none;
  box-shadow: none;
}

#query-input.is-invalid:focus {
  outline: none;
  outline-style:none;
  box-shadow:none;
}

#social-channel-form .form-check-label {
  font-size: 1.4em;
}

#social-channel-form i {
  font-size: 1.9em;
  margin-right: 10px;
}

#social-channel-form i.fa-hacker-news:hover {
  color: #ff6600;
}

#social-channel-form i.fa-reddit-square:hover {
  color: #ff6314;
}

#social-channel-form i.fa-hacker-news {
  color: #bdc3c7;
  cursor: pointer;
}

#social-channel-form i.fa-reddit-square {
  color: #bdc3c7;
  cursor: pointer;
}

#social-channel-form .suggestions span {
  padding: 2px 6px;
  margin-right: 5px;
  border-radius: 10px;
  border: 1px solid #333;
  cursor: pointer;
}

.main-form-input {
  font-weight: 700;
  padding: 0 5px 1em 0;
  font-size: 2.5em;
}

#next-button {
  margin-top: 0.5em;
}

.hide {
  display: none;
}

.reddit-subreddits div {
  margin: 5px 0;
}

.form-step {
  margin-bottom: 40px;
}

.white {
  color: white;
}

.center {
  margin: 0 auto;
  text-align: center;
}

#help-modal .modal-dialog {
  width: 80% !important;
  max-width: 80% !important;
}

.bg-twitter {
	background-color: #1da1f2;
}

.bg-reddit {
	background-color: #ff6314;
}

.reddit-color {
  color: #ff6314;
}

.bg-hacker-news {
	background-color: #ff6600;
}

.hacker-news-color {
  color: #ff6600;
}

#notifications-list {
  margin-top: 20px;
}
