<style>
body {
  background-color: transparent !important;
}
</style>
<div>
  <row>
    <columns large="12">Notification for `<%= @alert.social_watcher.listener.query %>`</columns>
  </row>
  <row>
    <columns large="12"></columns>
  </row>
</div>
